@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Prosto+One&display=swap');

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background: #ffffff;
}

.wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background: #ffffff;
}

.image {
  border-radius: 16px;
}

.header {
  padding: 248px 156px 148px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 16px;
  background: center / cover no-repeat url('images/road.jpg');
  margin-bottom: 8px;
}


.header .breadcrumps {
  margin-bottom: 16px;
}

.header .link, .header .current {
  position: relative;
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
  transition: all 1s;
}

.header .link:after {
  content: '';
  position: absolute;
  bottom: -5px;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.5s;
}

.header .link:hover:after {
  opacity: 1;
  transform: translateX(0);
}

.header .title {
  font-size: 56px;
  line-height: 100%;
  font-family: 'Prosto One', cursive;
  color: #F2F7F5;
  letter-spacing: 0.1em;
}


.map-container .map {
  position:relative;
  overflow:hidden;
  border-radius: 16px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
}

.map-container .points {
  display: flex;
  column-gap: 42px;
  margin: 24px 188px;
}

.map-container .points .point-link {
  position: relative;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #0D0525;
}

.map-container .points .point-link::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: -20px;
  top: 6px;
  background: no-repeat url('images/map-marker.png');
}

.main {
  padding: 80px 0;
  display: flex;
  flex-flow: column;
  row-gap: 80px;
  background: #F2F7F5;
}

.main .palces-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .palces-content.reverse {
  flex-direction: row-reverse;
}

.palces-content .card {
  max-width: 636px;
  padding: 48px;
  border-bottom: 16px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  background: #ffffff;
  background: #FAAE2B;
  color: rgba(71, 93, 91, 1);
  transform: translateX(-56px);
}

.palces-content.reverse .card {
  transform: translateX(56px);
}

.palces-content .card-title {
  font-family: 'Prosto One', cursive;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 24px;
  color: #00473E;
}

.palces-content .card-text {
  font-size: 18px;
  line-height: 130%;
} 